<nav class="navbar">
  <a routerLink="/animals" routerLinkActive="active-link">Search all Animals</a>
  <a routerLink="/animals/create" routerLinkActive="active-link">Create New Animal</a>
  <a routerLink="/" routerLinkActive="active-link">AMAZING ANIMALS</a>
  <a>My Favourite Animals</a>
  <a>Play Game</a>
  <a>Log Out</a>
</nav>

<main class="background-image">
<section class="content">
  <router-outlet></router-outlet>
</section>
</main>

<footer class="footer">
  <h3>&copy;SusseAjla, Inc. All rights reserved</h3>
</footer>
