<!-- <p>animal-list works!</p> -->
<div class="animal-list-header">
    <h2 class="main-title">Animals</h2>
    <button class="close-btn" (click)="clearAnimalList()">x</button>
</div>

@if (isLoading) {
    <div>Loading animals...</div>
}
@if (error) {
    <div>{{ error }} </div>
}
@if (!isLoading && !error) {
    <div class="animal-list-container">
    <ul class="animal-list">
        @for (animal of animals; track animal._id)
        {
        <li>
            <div class="animal-card">
            <strong>{{ animal.name }}</strong>
            <a class="btn" [routerLink]="['/animals', animal._id]">View Details</a>
            <!-- <a [routerLink]="['/animals', animal._id, 'edit']">Edit Animal</a> -->
            </div>
        </li>
    }
    </ul>
    </div>
}
