<!-- <p>animal-list works!</p> -->
<div class="animal-list-header">
    <h2 class="main-title">Animals</h2>
    <button class="close-btn" (click)="clearAnimalList()">x</button>
</div>

<div class="search-animal">
    <form (ngSubmit)="onSearch()" #searchForm="ngForm">
        <label>
            Search by animal name:
            <input type="text" [(ngModel)]="searchName" name="searchName">
        </label>
        <button class="btn" type="submit">Search</button>
    </form>
</div>

@if (isLoading) {
    <div>Loading animals...</div>
}
@if (error) {
    <div>{{ error }} </div>
}
@if (!isLoading && !error) {
    <div class="animal-list-container">
        <ul class="animal-list">
            @for (animal of filteredAnimals; track animal._id)
            {
            <li>
                <div class="animal-card">
                    <strong>{{ animal.name }}</strong>
                    <a class="btn" [routerLink]="['/animals', animal._id]">View Details</a>
                </div>
            </li>
            }
        </ul>
    </div>
}
