.animal-list {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem;
    list-style: none;
    white-space: nowrap;
}

.animal-list li {
    flex: 0 0 auto;
}

.animal-card {
    display: flex;
    flex-direction: column; /* stack items vertically */
    gap: 0.5rem; /* space between name and button */
    align-items: flex-start; /* align to left */
    background: #f0f8ff; /* optional: light background */
    padding: 1rem;
    border-radius: 8px;
    min-width: 150px; /* controls card width */
}

.animal-list::-webkit-scrollbar {
    height: 8px;
}

.animal-list::-webkit-scrollbar-thumb {
    background-color: #390DFF;
    border-radius: 4px;
}

.animal-list::-webkit-scrollbar-track {
    background: #A4F8B5;
}

.animal-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-animal {
    color: #390DFF;
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
    padding: 1rem;
    max-width: 400px; 
    margin: 0 auto; 
}

.search-animal label {
    font-weight: bold;
    margin-bottom: 0.5rem; /* Space between label and input */
}

.search-animal input {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ddd; /* Add a light border */
    width: 100%; /* Full width of the form */
    box-sizing: border-box; /* Include padding and border in the width */
}

.btn {
    margin-top: 0.5rem; 
}