<!-- <p>animal-form works!</p> -->

    @if (isLoading) {
        <div>Loading animal...</div>
    }
    @if (error) {
        <div>{{ error }}</div>
    }

@if (!isLoading && !error) {
    <form (ngSubmit)="onSubmit()" #animalForm="ngForm">
    <div class="animal-form-header">
        <h2>Create or edit your animal!</h2>
        <button class="close-btn" (click)="clearAnimalForm()">x</button>
    </div>

        <label>
            Name:
            <input type="text" [(ngModel)]="animal.name" name="name" required>
        </label>

        <label>
            Diet:
            <input type="text" [(ngModel)]="animal.diet" name="diet">
        </label>

        <label>
            Location:
            <input type="text" [(ngModel)]="animal.location" name="location" required>
        </label>

        <label>
            Fun Fact:
            <textarea [(ngModel)]="animal.funFact" name="funFact" required></textarea>
        </label>

        <button class="btn" type="submit" [disabled]="animalForm.invalid">Save</button>
        <button class="btn" type="button" (click)="cancel()">Cancel</button>
    </form>
}
